.contador {
  min-width: 200px;
  height: 200px;
  font-size: 160px;
  padding: 25px;
  color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 8px solid rgb(242, 129, 129);
  border-radius: 10px;
  margin-bottom: 30px;
}
